<div class="topnav">
  <a routerLink="/films" (click)="navigateToUrl('/films')" [routerLinkActive]="['active']">Films</a>
  <a routerLink="/people" (click)="navigateToUrl('/people')" [routerLinkActive]="['active']">People</a>
  <a routerLink="/planets" (click)="navigateToUrl('/planets')" [routerLinkActive]="['active']">Planets</a>
  <a routerLink="/species" (click)="navigateToUrl('/species')" [routerLinkActive]="['active']">Species</a>
  <a routerLink="/starships" (click)="navigateToUrl('/starships')" [routerLinkActive]="['active']">Starships</a>
  <a routerLink="/vehicles" (click)="navigateToUrl('/vehicles')" [routerLinkActive]="['active']">Vehicles</a>
</div>
